html {
  font-family: sans-serif;
}

/* Votre CSS ci-dessous */

p {
  
  margin: auto;
  width: 250px;
  height: 150px;

  font-size: 18px;
  text-align: center;
  line-height: 150px;
  color: white;
  text-shadow: 2px 2px black;

  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: rgb(139, 0, 0);

  background-color: red;
  background-image: linear-gradient(to bottom right, red, rgb(117, 0, 0));

  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.38), inset 2px 2px 12px white;;

}
